{% extends "base.html" %}

{% block content %}
<h1>version {{ version }}</h1>
<h2>{% for name in names %}{{ name }}{% if !loop.last %}, {% endif %}{% endfor %}</h2>

<dl>
	{% for (repository, patches) in patch_list %}
	<dt>{{ repository }}</dt>
	<dd>
		<ul>
			{% for patch in patches %}
			<li>
				{% if loop.first %}<strong>{% endif %}
					{{ patch.name }} ({{ patch.size|filesizeformat }})
					{% if loop.first %}</strong>{% endif %}
			</li>
			{% endfor %}
		</ul>
	</dd>
	{% endfor %}
</dl>
{% endblock %}